@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.App{
  background-image: url('https://zupimages.net/up/20/06/873l.jpg');
  background-size: cover;
  height: 100vh;
}

.flexDivOfNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Lobster', cursive;
  /* background-image: url('https://zupimages.net/up/20/06/gl8c.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  
}
.linkNavBar{
  font-size: 24px;
  margin-top: 5%;
  text-decoration: none;
  color: black;
  
}
.titleNavbar{
  font-size: 58px;
  margin: 0;
}
.aboutMe{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
}
.test{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
.aboutMe img {
  width: 20%;
}
.beforeAfter{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: center;
}
.beforeAfter img{
  width: 20%;
  height: 30%;
}
.beforeAfter img:hover{
  width: 30%;
  height: 40%;
}
.separation{
  margin: 1%;
}
.price{
  display:flex;
  flex-direction: column;
  font-family: 'Lobster', cursive;
  align-items: center;
  font-size: 38px;
}
.priceTitle{
  text-decoration: underline;
}
.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 10%;
}
.formPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  background: rgba(0, 0, 255, 0.5);
}
.form input{
  margin-top: 5%;
}
.form textarea{
  margin-top: 5%;
}
.form p{
  font-family: 'Lobster', cursive;
}
.devisCalculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formPageContent{
  display: flex;
  justify-content: center;
  align-items: center;
}